/* Global Styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css Variables for common elements */
:root {
    --common-color : #FD6E0A;
}
/* Common Styles for button  */
.btn {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px 20px;

}
/* Common Styles for Section titles  */
.section-heading {
    color:#181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Common Styles for max-width  */
.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}
/*Style for  Header Section   */
header {
    margin: 20px;
    height: 837px;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* background-size: cover; */
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
    margin-right: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav ul li button {
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 36px;
}

header nav .logo {
    color:#181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

header nav .logo .logo-text {
    color: #FD6E0A;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

header .header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-contents .header-img-contents img {
    margin: 110px 0 0 0;
}

header .header-contents .header-text-contents h3 {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header .header-contents .header-text-contents h1 {
    color:  #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

header .header-contents .header-text-contents p {
    max-width: 585px;
    width: 100%;
    color:  #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

header .header-contents .header-text-contents .buttons button {
    margin-top: 20px;
    color:  #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 36px;
    border: 0;
}

header .header-contents .header-text-contents .buttons .contact-btn {
    background-color: transparent;
    border: 2px solid var(--common-color);
    color: var(--common-color);
    margin-left: 20px;
}

/* Main Section  */
.main {
    margin-top: 100px;
}
/* About me section  */
.main .about-section{
    text-align: center;
    width: 1140px;
    width: 100%;
    background: #FFF8F3;
    padding: 20px;
}

.main .about-section .about-container {
    margin: 0 auto;
    max-width: 830px;
    color:#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.main .about-section .about-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.main .about-section .about-info .about-info-title {
    color:#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.main .about-section .about-info .about-info-dicription {
    color:#474747;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
/* What i do section  */
.main .what-i-do {
    margin-top: 100px;
}

.main .what-i-do .what-i-do-dic {
    margin: 0 auto;
    color:#757575;
    width: 900px;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.main .what-i-do .skils {
    padding-top: 50px;
    display: flex;
    width: 900px;
    margin: 0 auto;
}

.main .what-i-do .skils .skill {
    width: 100%;
    height: 400px;
    margin-left: 20px;
}

.main .what-i-do .skils .skill .skill-title {
    margin-top: 20px;
    color:#181818;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main .what-i-do .skils .skill > p {
    margin-top: 10px;
    color:#757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
/* Resume section  */
.resume {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.main .resume .resume-content {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    margin: 45px 0 0 0;

}

.main .resume .resume-content .resume-title {
    color:#474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
}

.main .resume .resume-content .education-exprence-title {
    color:#474747;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main .resume .resume-content .education-exprence-decription {
    color:#757575;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main .resume .resume-content .education-exprence-content {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.main .resume .resume-content .education,hr {
    margin: 30px;
}

.main .resume .resume-content .exprence,hr {
    margin: 30px;
}

.main .resume .resume-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .resume .resume-button .btn {
    border: 0;
    padding: 18px 36px;
    color: white;
}